language: cpp

compiler:
  - g++
  - clang

before_install:
- sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test
- sudo apt-get update -qq

install:
- sudo apt-get install -qq g++-4.8
- export CXX="g++-4.8"
    
script:
  - mkdir build
  - cd build
  - cmake ..
  - make

addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - g++
    - libboost-all-dev
    - libeigen3-dev

notifications:
  email: none